<!DOCTYPE html>
<html>
<head>
    <title>Blog Form</title>
</head>
<body>
<div class="form-container">
    <a href="/">Back</a>
    <h2>Blog form</h2>
    <form action="/add" method="POST">
        <label for="author">Title:</label><br/>
        <input type="text" id="author" name="author" required><br/><br/>

        <label for="title">Author:</label><br/>
        <input type="text" id="title" name="title" required><br/><br/>

        <label for="content">Content:</label><br/>
        <textarea id="content" name="content" required></textarea><br/><br/>

        <button type="submit">Send</button>
    </form>
</div>
</body>
</html>
